$color-turqoise : #33CCCC;
$color-orange 	: #FF6633;
$color-blue 	: #086A87;
$color-green 	: #0DA290;
$color-grey 	: #EAEAEA;

body{
	font-family: 'Noto Sans', "Noto Sans Thai", sans-serif;	
	margin: 0px;
	padding: 0 px;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Circular Std';
	src: url('./assets/fonts/CircularStd-Bold.eot');
	src: url('./assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/CircularStd-Bold.woff') format('woff'),
		url('./assets/fonts/CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face{font-family:'Noto Sans Thai';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Regular.eot);src:url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Regular.eot?#iefix) format("embedded-opentype"),url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Regular.woff2) format("woff2"),url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Regular.woff) format("woff"),url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Regular.ttf) format("truetype")}@font-face{font-family:'Noto Sans Thai';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Bold.eot);src:url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Bold.eot?#iefix) format("embedded-opentype"),url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Bold.woff2) format("woff2"),url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Bold.woff) format("woff"),url(//fonts.gstatic.com/ea/notosansthai/v3/NotoSansThai-Bold.ttf) format("truetype")}

*, .border-box, :after, :before {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button, input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    vertical-align: baseline;
}

input, textarea {
    color: #333;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 10px;
}

.heading-typography{
	font-family: 'Noto Sans', "Noto Sans Thai", sans-serif;
	color: #444;
	font-weight: 600;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

h2{
	@extend .heading-typography;
	font-size: 36px;
	color: $color-blue;
}

h4{
	@extend .heading-typography;
	font-size: 18px;
	color: $color-blue;	
}

p, ul li, li{
	font-size: 13px;
	line-height: 18px;
	color: #444;
}

.main-typography{
	font-family: 'Noto Sans', "Noto Sans Thai", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #444;
	font-weight: 300;
	padding: 0px;
	margin: 0px;
}

.centered{
	margin: 0px auto;
	display: block;
}

.wrapper{
	position: relative;
    clear: both;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.align-items-end{
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
}

.list{
	list-style:none;

}

.width-100{
	width: 100%;
	display: block;
	clear: both;
	zoom: 1.0;
}

.icon{
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	-webkit-transform: scale(0.7);
}

.icon-gray-product{
    background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -256px/28px 591px;
}

.icon-gray-coupon {
    background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -231px/28px 591px;
}

.icon-gray-trend {
    background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -281px/28px 591px;
}

.icon-search-blue {
    width: 26px;
    height: 26px;
    background: url(https://d1vfs9f7h1rfk4.cloudfront.net/build//images/sprites/common/global-icons-2x-7552b51f7d.png) 0 -333px/28px 591px;
}

.content-block{
	width: 100%;
	max-width:1024px;
	margin: 0px auto;
}

.menu-inline{
	ul{
		@extend .list;	
		li{
			list-style:none;
			display: inline-block;
			padding: 5px 0px;
			margin-right: 10px;
			border-top: 2px solid transparent;
			a{
				text-transform: capitalize;
				color: #fff;
				padding: 0px;
				text-decoration: none;
				font-size: 13px;
				font-family: 'Noto Sans', "Noto Sans Thai", sans-serif;
				.icon{
					opacity: .7;
					margin-top: -3px;
					margin-right: 2px;
					-webkit-filter: brightness(50);
					-moz-filter: brightness(50);
					filter: brightness(50);
				}
			}
		}
	}
}
.top-store-content{
    padding: 75px 0px;
    strong{
	    font-size: 21px;
	    width:100%;
	    max-width: 640px;
	    margin: 0px auto;
	    margin-bottom: 50px;
	    text-align:center;
	    display: block;
	    color: $color-blue;
	}
}

.top-store-list{
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
	.image-entry {
	    max-width: 250px;
	    width: calc(100%/4);
	    float:left;
	    display: block;
	    max-height:135px;
	    margin-bottom: 15px;
	    a{
		    display: block;
		    width: 100%;
		    height: 125px;
		    padding: 15px;
		    text-align:center;
		    text-decoration: none;
		    amp-img{
			    border: 1px solid #efefef;
			    display: block;
			    width: 100%;
			    max-width: 250px;
			}
			strong{
				font-size: 16px;
				font-weight: lighter;
				margin-bottom: 10px;
			}
		}
	    
	}
}

.coupon-link{
    padding-top:35px;
    text-align:center;
    text-decoration: none;
    background: #fff;
}
.coupon-link amp-img{
    max-width:200px;
    margin: 0px auto;
}

.coupon-link span{
    color: #086a87;
    padding: 0px 50px 0px 50px;
    display:block;
    word-wrap: break-word;

}

.list-overflow {
    position: absolute !important;
    bottom: 0px;
    background: #fff;
    text-align:center;
    width: 100%;
    text-align: center;
}

.list-overflow button{
    border: 0px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-family: 'Noto Sans', "Noto Sans Thai", sans-serif;
    background: #36c4d1;
    padding: 8px 35px;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

@media screen and (max-width: 640px){
	
	.col-4{
		width: 100%;
	}

	.top-store-list{
	    width: 100%;
		.image-entry {
			max-width: 160px;
	    	width: calc(100%/2);
	    	float:left;
		    display: block;
		    margin: 0px auto;
		    max-height:135px;
		}
	}

	#countdown{
		background: url(./assets/img/11sale_mobile.svg) no-repeat;
		background-position: center center;
		margin-bottom: 15px;
		.countdown-timer{
		    width: 100%;
		    min-height: 350px;
		    padding: 0px 15px;
		    h1 {
			    padding: 50px 0px 0px 0px;
			    font-size: 42px;
			}
			h2{
				font-size: 16px;
				bottom: 15px;
				line-height:24px;
				margin-bottom: -15px;
			}
		}
	}

	.subscribe-form-content {
	    padding:0px;
	    margin: 0px;
	    strong{
	    	font-size: 24px;
		    width:100%;
		    max-width: 640px;
		    margin: 0px auto;
		    margin-bottom: 35px;
		    margin-top: 35px;
		    text-align:center;
		    display: block;
		    color: $color-blue;
	    }
	}

	.col-md-6{
	    width:100%;
	    margin : 0px;
	}

	.col-md-6.subscribe-now{
	    float:right !important;
	}

	.image-entry a amp-image{
	    height: 70px;
	    width: 100%;
	}
	#sup-section{
		.sup-item{
			width:100%;
		}
	}
	.subscribe-now {
		padding: 25px 20px;
		p{
		    padding: 20px 0px 30px 0px;
		    margin: 0px;
		    text-align: center;
		}
	}

	.top-store-content{
		padding-right: 20px;
		padding-left: 20px;
		strong{
			display: none;
		}
	}
}

@media screen and (min-width:1024px)
{
	.width-100{
		max-width: 1280px;
	}

	#countdown{
		background: url(./assets/img/11sale.svg) no-repeat;
		background-size: 100%;
		.countdown-timer{
		    h1 {
			    padding: 20px 0px 0px 0px;
			    font-size: 75px;
			    margin: 0px;
			}
			h2{
			    font-size: 28px;
			    line-height: 40px;
			    bottom: 45px;
			    position: absolute;
			}
		}
	}
	.subscribe-now {
		padding: 0px 50px;
		p{
		    padding: 35px 0px 25px 0px;
		    margin: 0px;
		    text-align: center;
		}
	}

	.subscribe-form-content strong{
		display: none;
	}

}



#main-content{
	margin: 0px auto;
	width: 100%;
	padding: 0px;
	#big-slider{
		max-height: 457px;
		margin: 0px;
	}
	#countdown{
		background-size: 100%;
		.countdown-timer{
		    width: 100%;
		    max-width: 640px;
		    margin: 0px auto;
		    position: relative;
		    display: block;
		    h1 {
			    margin: 0px;
			    text-align: center;
			    color: #fff;
			    font-family: 'Circular Std', "Noto Sans Thai",sans-serif;
			}
			amp-iframe{
				width:100%;
				max-height:240px;
			}
			h2{
				color: #fff;
			    font-weight: normal;
			    text-align: center;
			    margin: 0px;
			    padding: 10px 0px;
			    width: 100%;
			    font-family: 'Circular Std', "Noto Sans Thai",sans-serif;
			    font-weight: bold;
			    text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
			}
		}
	}
	/*** On campaign css ***/
	#brand-top{

	}
	#brand-list{
		.brand-item{
			padding: 0px;
			a{
				width:100%;
				display: block;
				padding: 10px;
				amp-img{
					width:100%;
				}
			}

		}
	}
	#subscribe-form{
		@extend .content-block;	
		.subscribe-form-content{
		    padding: 0px 20px;
		    margin-top:25px;
		    .big-highlight{
				padding: 0px;
				background: url(./assets/img/linedpaper.png); 
				.i-amphtml-slide-item.i-amphtml-slide-item-show{
				    padding: 25px;
				}
			}
			.subscribe-now {
			    background: #33CCCC;
			    > *{
				    color: #fff;
				}
				p{
				    font-size: 16px;
				    font-weight: 600;
				    line-height: 24px;
				}
				form{
					#mc_embed_signup_scroll{
						position: relative;
						.email{
						    width: 100%;
						    display: block;
						    color: #fff;
						    text-align:center;
						    margin: 0px;
						    padding: 10px;
						    border: none;
						    border-radius: 0px 0px 0px 0px ;
						    background: none;
						    border-bottom: 1px solid #fff;
						    font-size: 16px;
						    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							  color: #fff;
							}
							&::-moz-placeholder { /* Firefox 19+ */
							  color: #fff;
							}
							&:-ms-input-placeholder { /* IE 10+ */
							  color: #fff;
							}
							&:-moz-placeholder { /* Firefox 18- */
							  color: #FF6633;
							}

						}
						label{
						    position: absolute;
						    left: 0px;
						    top: -10px;
						    font-size: 13px;
						    opacity: 0;
						    -webkit-transform: translateX(-20px);
						    -webkit-transition: all linear 250ms;
						    -moz-transition: all linear 250ms;
						    transition: all linear 250ms;
						}
						input:focus:not([readonly]) + label{
						    opacity: 1.0;
						    -webkit-transform: translateX(0px);
						    -webkit-transition: all linear 250ms;
						    -moz-transition: all linear 250ms;
						    transition: all linear 250ms;
						}
						.clear {
						    text-align:center;
						    padding-top: 25px;
						    .button{
							    background: #086A87;
							    color: #fff;
							    font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
							    font-size: 14px;
							    text-transform: uppercase;
							    border-radius: 4px;
							    border: 1px solid #fff;
							    margin: 0px auto;
							    padding: 10px 25px;
							    text-align: center;
							    font-weight: bold;
							}
						}
						.hidden{
						    position: absolute;
						    left: -5000px;
						}
					}
				}
			}
		}
	}
	#sup-section{
		.heading-content{
			@extend .content-block;	
			margin-top: 35px;
			h3 {
			    font-size: 32px;
			    width:100%;
			    max-width: 640px;
			    margin: 0px auto;
			    margin-bottom: 50px;
			    text-align:center;
			    color: $color-blue;
			}
		}
		.sup-content.row {
		    @extend .content-block;	
		    margin-top: 15px;
		}

		.sup-item{
		    margin: 0px;
		    padding: 5px 10px 5px 5px;
		}

		.sup-item:nth-child(2){
		    padding: 5px 5px 5px 5px;
		}

		.sup-item:last-child{
		    padding: 5px 5px 5px 10px;
		}

		.sup-item-wrapper{
		    background: #f7f7f7;
		    border-radius: 8px;
		    padding:25px;
		    min-height: 294px;
		    border: 1px solid #e4e4e4;
		    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
		    text-align:center;
		}

		.sup-item-wrapper p{
		    color: #444;
		}
		.sup-item-wrapper .icon-sup-item{
		    width:96px;
		    height: 96px;
		    margin: 0px auto;
		    display:block;
		    background-size: 100%;
		}

		.icon-variety{
		    background: url(./assets/img/variety-icon.png) no-repeat;
		}

		.icon-safety{
		    background: url(./assets/img/safety-icon.png) no-repeat;
		}

		.icon-savings{
		    background: url(./assets/img/savings-icon.png) no-repeat;
		}
	}
	#eleven-content{
		width: 100%;
		display: table;
		margin: 40px 0px;
		.post-content{
			width: 100%;
			max-width: 1024px;
			margin: 0px auto;
			float: none;
			.post-item{
				padding: 10px 20px;
				h4{
					font-size: 16px;
					font-weight: normal;
					text-align:left;
				}
				ol{
					li{
						font-size: 13px;
						line-height: 18px;
						color: #9a9a9a;
					}
				}

			}

		}
	}
}