#sup-section
  .heading-content.row
    .col-md-12
      h3 Belanja Sepuas-puasnya dengan Sale 11/11 di Indonesia
      p Catat kalender Anda sekarang, dari tanggal 1 hingga 13 November 2017 akan hadir mega promo dan sale dari seluruh e-commerce favorit Anda di Indonesia. Sejatinya 11-11 Sale ini terinspirasi dari peringatan Hari Lajang (Single’s Day) berasal dari Tiongkok yang kemudian berubah menjadi hari belanja terbesar di dunia. 
      p Nah, barangkali Anda bisa memanfaatkan momentum 11/11 Sale ini sebagai pelipur lara diri yang masih jomblo dengan belanja sepuas mungkin. Masukkan alamat e-mail Anda sekarang juga untuk mendapatkan informasi tercepat tentang hari diskon gede-gedean 11.11 Sale ini.
  .sup-content.row
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-variety.icon-sup-item
        h4 Lebih Banyak Pilihan
        p iPrice adalah pusatnya kegiatan belanja online, mengintegrasikan lebih dari seribu toko online dengan total lebih dari 100 juta produk.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-safety.icon-sup-item
        h4 Aman Saat Berbelanja
        p Temukan ragam toko online premium di iPrice seperti Lazada dan Zalora. Anda tidak perlu khawatir dengan keamanan transaksi di website kami!
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-savings.icon-sup-item
        h4 Lebih Hemat
        p Nikmati fitur "Bandingkan Harga" untuk setiap produk yang sama dari berbagai toko online di iPrice. Gunakan kode kupon iPrice untuk belanja lebih hemat!
#eleven-content     
  .post-content.row
    .post-item.col-md-12
      h4 Saatnya Meminang Barang Impian di E-Commerce Favorit Anda dengan Sale 11/11
      | <p>Anda nggak perlu susah-susah “menjaring” e-commerce mana saja yang turut mengadakan Sale 11.11. Cukup dengan mengakses website iPrice Indonesia, Anda tidak akan ketinggalan penawaran satu pun. Di website kami terdapat satu halaman khusus “Kupon dan Penawaran” yang memudahkan Anda untuk mendapatkan SEMUA kode kupon dan promo paling menggiurkan sepanjang 11/11 Sale! Anda bisa belanja super hemat dari berbagai toko online raksasa seperti <a href="https://iprice.co.id/coupons/lazada/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Lazada</a>, <a href="https://iprice.co.id/coupons/zalora/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Zalora</a>, <a href="https://iprice.co.id/coupons/bukalapak/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Bukalapak</a>, <a href="https://iprice.co.id/coupons/shopee/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Shopee</a>, hingga <a href="https://iprice.co.id/coupons/uber/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Uber</a>.</p>
    .post-item.col-12
      h4 Ritual Sebelum Menghadapi Sale Gede-Gedean 11/11 di iPrice
      p Menjelang hari belanja yang “sakral” ini, terdapat ritual yang bisa Anda lakukan untuk menghadapi sale gila-gilaan 11.11 mendatang:
      strong Jangan Lupa Masukkan Email Anda
      p Anda termasuk orang yang suka lupa dan jarang ngeh kalo ada diskon dari e-commerce favorit Anda? Tenang, cukup masukkan alamat e-mail di kotak yang tersedia dan kami siap untuk mengingatkan Anda melalui notifikasi e-mail kalau SALE 11/11 akan hadir sebentar lagi!
      strong Tabung Dulu, Belanja Kemudian
      p Simpan tabungan Anda terlebih dulu dan tunggu momen 11-11 mendatang untuk membeli semua barang yang Anda inginkan! Tidak hanya kamera atau handphone, barang-barang elektronik rumah tangga juga bisa Anda dapatkan dengan harga semiring-miringnya. Mulai dari televisi HD, kulkas, laptop, mesin cuci, microwave, dan lain-lain.
      strong Intip-Intip Kode Kupon dan Voucher Lainnya di iPrice Indonesia
      | <p> Lupakan kode-kode dari gebetan yang semakin tidak jelas, sekarang saatnya Anda move on ke kode kupon belanja yang pastinya bisa bikin lebih hepi! Temukan promosi dan kode kupon eksklusif lainnya dari iPrice. Mulai dari kode kupon dan voucher belanja <a href="https://iprice.co.id/coupons/lazada/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Lazada</a>, <a href="https://iprice.co.id/coupons/zalora/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Zalora</a>, <a href="https://iprice.co.id/coupons/tokopedia/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Tokopedia</a>, <a href="https://iprice.co.id/coupons/shopee/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Shopee</a>, <a href="https://iprice.co.id/coupons/hotelscom/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Hotels.com</a>, <a href="https://iprice.co.id/coupons/blibli/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Blibli.com</a>, <a href="https://iprice.co.id/coupons/bukalapak/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Bukalapak</a> dan lain-lain. Kode kupon ini tidak terbatas pada fashion dan elektronik saja, tapi juga voucher belanja untuk kategori produk lainnya seperti peralatan rumah tangga, promo tiket pesawat, promo tiket hotel, produk-produk makeup dan skin care, hingga perlengkapan anak.</p>
    .post-item.col-12
      h4 Langkah Mudah untuk Mendapatkan Kode Kupon dari iPrice Indonesia
      p Berikut langkah-langkah yang bisa Anda ikuti untuk mendapatkan kode kupon dan penawaran 11.11 Sale Indonesia dari iPrice:
      ul
        li Kunjungi website iPrice Indonesia (iprice.co.id) dan klik pilihan menu “% Kupon” yang terletak di pojok kiri atas halaman utama.
        li Anda akan diarahkan ke halaman Kupon iPrice (iprice.co.id/coupons/) untuk melihat dan memilih daftar merchant yang tersedia. Ada lebih dari 300 toko online yang tersedia mulai dari <a href="https://iprice.co.id/coupons/lazada/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Lazada</a>, <a href="https://iprice.co.id/coupons/bukalapak/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Bukalapak</a>, <a href="https://iprice.co.id/coupons/zalora/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Zalora</a>, <a href="https://iprice.co.id/coupons/blibli/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Blibli.com</a>, <a href="https://iprice.co.id/coupons/uber/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Uber</a>, <a href="https://iprice.co.id/coupons/grab/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Grab</a>, <a href="https://iprice.co.id/coupons/shopee/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Shopee</a>, <a href="https://iprice.co.id/coupons/pizza-hut/?utm_source=onsite&utm_medium=landing_page&utm_campaign=11_11_Sale">Pizza Hut</a>, dan masih banyak lagi.
        li Carilah merchant sesuai keinginan Anda. Misalnya Lazada, maka pilih menu Lazada pada bagian pilihan merchant yang tersedia.
        li Begitu diklik, Anda akan diarahkan pada kumpulan kode kupon dari merchant terkait. Ada berbagai pilihan kode kupon dan diskon yang bisa Anda gunakan. Pilih penawaran yang membuat Anda tertarik lalu klik “Dapatkan Penawaran’ atau ‘Dapatkan Kode Kupon’ pada kotak yang telah tersedia.
        li Pilihlah kode kupon dan penawaran yang memang khusus untuk event 1111 Sale agar Anda bisa menghemat lebih banyak ketika membeli barang di masing-masing merchant!
        li Setelah klik "Dapatkan Kode Kupon" atau "Dapatkan Penawaran", iPrice akan mengalihkan Anda ke situs merchant tersebut untuk berbelanja produk-produk yang diinginkan. Jangan lupa untuk copy paste kode dari halaman iPrice saat check out di akhir transaksi Anda untuk mendapatkan potongan harga gila-gilaan.
        li Kini Anda tinggal duduk manis menunggu barang-barang yang telah dipesan sampai dengan selamat di depan rumah. Selamat menikmati penawaran dan voucher belanja 1111 Sale dari iPrice Indonesia!
      p Jangan lewatkan mega sale 11/11, di mana Anda bisa memborong semua produk yang diinginkan dengan diskon-diskon menarik! Cari kuponnya, bandingkan harganya dan belanja lebih hemat.