#sup-section
  .heading-content.row
    .col-md-12
      h3 The 11/11 Sale: Hong Kong's Largest Online Shopping Event
      p  It’s the end of the year again, and it’s not just the holidays we can look forward to. There’s also the great Single’s Day sale! Single’s Day, otherwise known as 11/11 is a day celebrated by those who are single to celebrate the pride of being single. It’s also the world’s largest online shopping event.
  .sup-content.row
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-variety.icon-sup-item
        h4 Shop More
        p iPrice is home to a large variety of online shopping; integrating over one thousand different online shops that carry a combined total of over 100 million products.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-safety.icon-sup-item
        h4 Shop Safe
        p You can shop with confidence on iPrice as we only have high quality online shops, including the big names such as Lazada and Zalora. So don't worry and enjoy shopping.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-savings.icon-sup-item
        h4 Save More
        p Shopping online with iPrice puts all the products from your favourite online shops in one place. You can also save more with iPrice coupons!
#eleven-content    
  .post-content.row
    .post-item.col-md-12
      h4 Discounts and Sale on All Product Categories!
      | <p>Almost everything will be on sale during the Single's Day sale, you can get from the simplest of things such as a plastic container to the most luxurious gadgets. Product categories that will be on sale include <strong>electronics, fashion, health &amp; beauty, food &amp; beverage, sports equipment, </strong>and <strong>even travel fares!</strong></p>
    .post-item.col-12
      h4 How to Get Your 11/11 Sales Day Shopping Done on iPrice
      p You can shop from the comfort of your own home – you won’t even need to leave your couch! Here are some easy steps to get what you need.
      ul
        li Look for the most attractive offers available on iPrice.
        li Click on the offer and you will be redirected to the merchant’s website where all the goodies are. Copy the promo code. 
        li If you are a new online customer to the merchant, go ahead and create an online account. 
        li Add in your delivery address, full name, credit/debit card details and other necessary data for best service.
        li Browse the product selection that fits the promotion details. Be specific about what you are looking for (time, date, etc).
        li Choose the product or service. Read all the terms of purchase. Store your products in a 'Shopping Cart' or 'Wishlist' for purchase later (if needed). 
        li Head to 'Checkout'. Do have your payment details ready. Paste the promo code you copied earlier into the 'Promo code' or 'Voucher code' box available.
        li Complete your payment. Be sure to take a screenshot of the product or service you have purchased to have the details at hand.