doctype
html(amp, lang="en")
  head
    meta(charset="utf-8")
    script(async, src="https://cdn.ampproject.org/v0.js")
    script(async, custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js")
    script(async, custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
    script(async, custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js")
    script(async, custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js")
    script(async, custom-element="amp-list", src="https://cdn.ampproject.org/v0/amp-list-0.1.js")
    script(async, custom-element="amp-mustache", src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js")
    title 11 11 Sale 
    link(rel="canonical", href="/index.html")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700", rel="stylesheet")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "iPrice Singapore 11/11 Sales",
        "description" : "Single’s Day sales is here! Get all your favourite products on discounts!",
        "datePublished": "2017-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    | 
    |<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    style(amp-custom)
      include assets/css/bootstrap.min.css
      include assets/css/main.min.css
    meta(property='og:title', content='iPrice Singapore 11/11 Sales')
    meta(property='og:image', content='')
    meta(property='og:type', content='article')
    meta(property='og:url', content='https://iprice.sg/sale/1111')
    meta(property='og:site_name', content='iPrice Singapore')
  body
    amp-analytics(config="https://www.googletagmanager.com/amp.json?id=GTM-KZ7RK6R&amp;gtm.url=SOURCE_URL", data-credentials="include", aria-hidden="true")
    | <div id="courtesies-banner" class="width-100 fixed bottom-x0 relative-l" i-amphtml-fixedid="F0"> <div class="flex width-100 wrapper"> <a href="https://iprice.sg/" class="flex-1 flex-none-l text-align-center "> <div class="flex flex-column flex-row-l align-items-center"> <i class="icon icon-gray-product margin-all-x0"></i> <span>Products</span> </div> </a> <a href="https://iprice.sg/coupons/" class="flex-1 flex-none-l text-align-center "> <div class="flex flex-column flex-row-l align-items-center"> <i class="icon icon-gray-coupon margin-all-x0"></i> <span>Coupons</span> </div> </a> <a href="https://iprice.sg/trends/" class="flex-1 flex-none-l text-align-center"> <div class="flex flex-column flex-row-l align-items-center"> <i class="icon icon-gray-trend margin-all-x0"></i> <span>Trends</span> </div> </a> </div></div>
    | <header class="bg-banner-gradiant"> <div id="banner" class="padding-horizontal-x5"> <div class="wrapper flex align-items-center height-100 "> <a class="logo h2" href="https://iprice.sg/sale/1111"></a> <span class="motto none block-l white"> Search, Compare &amp; Save </span> <form class="relative flex flex-1 flex-column align-items-end i-amphtml-form" action="https://iprice.sg/search/" method="GET" target="_top" novalidate=""> <input class="width-100 height-x3 height-x4-l" type="text" name="term" id="term" role="search" autocomplete="off" value="" placeholder="Search for products, coupons or brands..." required=""> <button class="absolute bg-white height-100 top-x0" type="submit"> <i class="icon icon-search-blue"></i> </button> </form> <div id="searchbox-overlay" class="hidden"></div> <i role="button" tabindex="0" on="tap:sidebar.toggle" class="block none-l icon icon-burger cursor-pointer prod"></i> </div></div> </header>
    #main-content.width-100
      include views/pre_campaign
      include views/seo_content
    | <footer> <section id="links"> <div class="wrapper cs-wrapper"> <div class="wrapper m-3-col"> <div class="international"> <h3>International</h3><ul> <li> <a href="https://iprice.my/" class="malaysia"> <i class="icon icon-malaysia" title="iPrice Malaysia"></i> Malaysia </a> </li> <li> <a href="https://iprice.co.id/" class="indonesia"> <i class="icon icon-indonesia" title="iPrice Indonesia"></i> Indonesia </a> </li> <li> <a href="https://iprice.ph/" class="philippines"> <i class="icon icon-philippines" title="iPrice Philippines"></i> Philippines </a> </li> <li> <a href="https://iprice.hk/" class="hong-kong"> <i class="icon icon-hong-kong" title="iPrice Hong Kong"></i> Hong Kong </a> </li> <li> <a href="https://ipricethailand.com/" class="thailand"> <i class="icon icon-thailand" title="iPrice Thailand"></i> Thailand </a> </li> <li> <a href="https://iprice.vn/" class="vietnam"> <i class="icon icon-vietnam" title="iPrice Vietnam"></i> Vietnam </a> </li> </ul> </div> <div class="ipricegroup"> <h3>iPrice group</h3><ul> <li> <a href="http://ipricegroup.com/" rel="noopener" target="_blank"> About Us </a> </li> <li> <a href="https://iprice.sg/trends/"> Trends </a> </li> <li> <a href="http://ipricegroup.com/contact.html" rel="noopener" target="_blank"> Contact Us </a> </li> <li> <a href="http://ipricegroup.com/career.html" rel="noopener" target="_blank"> Careers </a> </li> <li> <a href="http://ipricegroup.com/partner.html" rel="noopener" target="_blank"> Partners </a> </li> <li> <a href="https://iprice.sg/privacy-policy/"> Privacy Policy </a> </li> <li> <a href="https://iprice.sg/terms-of-use/"> Terms of Use </a> </li> <li> <a href="https://iprice.sg/iema/2016/"> iEMA </a> </li></ul> </div> <div class="none-l"></div> <div class="social"> <h3>Social</h3><ul> <li> <a href="https://www.facebook.com/ipriceSingapore" target="_blank" rel="noopener"> <i class="icon icon-facebook"></i>Facebook </a> </li> <li> <a href="https://www.pinterest.com/ipricesg" target="_blank" rel="noopener"> <i class="icon icon-pinterest"></i>Pinterest </a> </li> <li> <a href="https://twitter.com/iPriceSG" target="_blank" rel="noopener"> <i class="icon icon-twitter"></i>Twitter </a> </li> <li> <a href="http://plus.google.com/+Ipricegroup/about" target="_blank" rel="noopener"> <i class="icon icon-google-plus"></i>Google+ </a> </li> </ul> </div> </div> </div></section> <section id="disclaimer" class="bg-gray-light"> <div class="flex wrapper en-sg"> <div class="flex flex-1 flex-column"> <small>© 2017 iPrice Group Sdn Bhd (1113954 - D). All rights reserved.</small> <p>The prices stated may have increased since the last update. Unfortunately it is not possible for us to update the prices on our website in real-time. Should a shop not offer prices in your local currency, we may calculate the displayed price on daily updated exchange rates.</p> </div> </div></section> </footer>